# Build and Release Folders
node_modules/
dist/
bundle/
docs/bin/

# Dev files
npm-debug.log

# Project property files
.actionScriptProperties
.flexLibProperties
.settings/
.idea/
.project
.DS_Store
*.iml

# Misc
deploy_key
deploy_key.pub